<!--自分の本の編集ページ-->
<div><%= flash[:notice] %></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

<h1>Editing Book</h1>

<%= form_with model: @book do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title, :size=>"60" %>

  <h4>Opinion</h4>
  <%= f.text_area :body, :size=>"60x5" %>

  <div><%= f.submit 'Update Book' %></div>
  <a><%= link_to "Show", book_path(@book.id) %></a>
  |
  <a><%= link_to "Back", books_path %></a>

<% end %>
    </div>
  </div>
</div>